
body {
  font-family: sans-serif;
  background: #f0f2f5;
  margin: 0;
  padding: 0;
}
.container {
  text-align: center;
  padding: 40px;
}
.header {
  background: #cceeff;
  padding: 20px;
}
.logo {
  width: 50px;
  vertical-align: middle;
}
h1 {
  margin: 10px 0;
}
button {
  margin-top: 10px;
  padding: 10px 20px;
  font-weight: bold;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
}
pre {
  text-align: left;
  margin-top: 20px;
  background: #fff;
  padding: 10px;
  border: 1px solid #ddd;
}
